html{
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%
}



#startScreen{
  margin: 200px;
  text-align: center;
  
}
