body{
  margin:0;
  background-image: url("../images/background.jpg");

  background-size: cover;
  height:100%;
  background-repeat:no-repeat;
  display: compact;
}



#startScreen{
  margin:300px, auto, auto, auto;
  padding:25px;
  background-color:rgba(225, 230, 225, .8);
  /* padding:300px; */
  text-align: center;
}

#gameScreen{
  display:hidden;
  text-align: center;
  
}

#gameText{
  background-color:rgba(225, 230, 225, .8);
}


.block {

}


.footer{
  padding-bottom:5px;
  color:rgba(225, 230, 225, .8);
}
