body {
  background-image: url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}



#startScreen{
  margin:300px, auto, auto, auto;
  padding:25px;
  background-color:rgba(225, 230, 225, .8);
  /* padding:300px; */
  text-align: center;
}

#gameScreen{
  padding-top: 25px;
  display:hidden;
  text-align: center;
}

#gameText{
  background-color:rgba(225, 230, 225, .8);
}


.choices {

}


.footer{
  /* position:absolute;*/
  bottom:0;
  text-align:center;
  padding-bottom:25px;
  padding-top: 50px;
  color:rgba(225, 230, 225, .8);
  /* clear: both; */

}
